<h1>Listing personnes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Tel</th>
    <th>Email</th>
    <th>Nouveau</th>
    <th>Sst</th>
    <th>Charge evac</th>
    <th>F extinc</th>
    <th>Suivi med cons</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @personnes.each do |personne| %>
  <tr>
    <td><%= personne.id %></td>
    <td><%= personne.nom %></td>
    <td><%= personne.prenom %></td>
    <td><%= personne.tel %></td>
    <td><%= personne.email %></td>
    <td><%= personne.nouveau %></td>
    <td><%= personne.sst %></td>
    <td><%= personne.charge_evac %></td>
    <td><%= personne.f_extinc %></td>
    <td><%= personne.suivi_med_cons %></td>
    <td><%= link_to 'Show', personne %></td>
    <td><%= link_to 'Edit', edit_personne_path(personne) %></td>
    <td><%= link_to 'Destroy', personne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Personne', new_personne_path %>
