<div class="page-header">
  <h1>Liste des composantes</h1>
</div>


<% @composantes.each do |composante| %>
  <div class="composante">
    <strong><%= composante.id %></strong>
    <p>
    <strong><%= composante.code %></strong>
    <strong><%= composante.libelle %></strong>
    </p>
    <div class="meta">
      <%= link_to composante.created_at,composante %> |
      <span class="admin">
        <%= link_to 'Edit', edit_composante_path(composante) %> |
        <%= link_to 'Destroy', composante, method: :delete, data: { confirm: 'Are you sure?' } %>
      </span>
    </div>
  </div>

<% end %>


<br />

<%= link_to 'Nouvelle Composante', new_composante_path, class:"btn btn-success" %>

