<h1>Listing unites</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Id etab</th>
    <th>Id compo</th>
    <th>Nom</th>
    <th>Code</th>
    <th>Activite</th>
    <th>Id directeur</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @unites.each do |unite| %>
  <tr>
    <td><%= unite.id %></td>
    <td><%= unite.id_etab %></td>
    <td><%= unite.id_compo %></td>
    <td><%= unite.nom %></td>
    <td><%= unite.code %></td>
    <td><%= unite.activite %></td>
    <td><%= unite.id_directeur %></td>
    <td><%= link_to 'Show', unite %></td>
    <td><%= link_to 'Edit', edit_unite_path(unite) %></td>
    <td><%= link_to 'Destroy', unite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Unite', new_unite_path %>
