<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @unite.id %>
</p>

<p>
  <b>Id etab:</b>
  <%= @unite.id_etab %>
</p>

<p>
  <b>Id compo:</b>
  <%= @unite.id_compo %>
</p>

<p>
  <b>Nom:</b>
  <%= @unite.nom %>
</p>

<p>
  <b>Code:</b>
  <%= @unite.code %>
</p>

<p>
  <b>Activite:</b>
  <%= @unite.activite %>
</p>

<p>
  <b>Id directeur:</b>
  <%= @unite.id_directeur %>
</p>


<%= link_to 'Edit', edit_unite_path(@unite) %> |
<%= link_to 'Back', unites_path %>
