<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @unite.id %>
</p>

<p>
  <b>Nom:</b>
  <%= @unite.nom %>
</p>

<p>
  <b>Code:</b>
  <%= @unite.code %>
</p>

<p>
  <b>Activite:</b>
  <%= @unite.activite %>
</p>

<p>
  <b>code Compo:</b>
  <%= @unite.compo_id %>
</p>
<p>
  <b>Libelle Compo :</b>
<%= @unite.composante.libelle %>
</p>


<%= link_to 'Edit', edit_unite_path(@unite) %> |
<%= link_to 'Back', unites_path %>

